#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.centered-container {
  border-radius: 3px;
  position: relative;
  width: 450px;
  padding: 40px 50px;
  display: table;
  background-color: #fff;
}
